@model RegistroArticuloViewModel
@{
    Layout = "_LayoutEncargado";
    ViewData["Title"] = "Registro de artículo";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <form asp-action="Registro" method="post" class="formulario col-lg-6 col-md-8 col-sm-10 h-75">
            @Html.AntiForgeryToken()
            <h3 class="my-3">Registrar artículo</h3>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre del artículo</label>
                <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del artículo" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label">Código del artículo</label>
                <input asp-for="Codigo" class="form-control" placeholder="Ingrese el código del artículo(13 caracteres)" required />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">Descripción</label>
                <textarea asp-for="Descripcion" class="form-control" placeholder="Ingrese una descripción (mín:10, máx:200)" required></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label">Precio</label>
                <input asp-for="Precio" type="number" step="0.01" class="form-control" placeholder="0.00" required />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="botonVerde text-white rounded-3 w-100">Registrar artículo</button>
            </div>
            <span class="text-danger">@ViewBag.Error</span>
        </form>
    </div>
</div>